In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('test_k_alg.csv', header=None);

In [4]:
df1.columns = ['n', 'k', 'opt', 'it', 'time', 'ctol', 'dtol']
df1.head()

      0    1             2      3        4             5         6
0  1000  100  26538.202236  111.0  87.7696  1.000000e-08  0.000001
1  1000   10    719.718784   36.0  26.0336  1.000000e-08  0.000001
2  1000   11    702.490814   20.0  14.5252  1.000000e-08  0.000001
3  1000   12    654.865923   24.0  19.9710  1.000000e-08  0.000001
4  1000   13    581.179029   53.0  36.9262  1.000000e-08  0.000001